<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<!--CSS, JS, Meta-->
</head>
<body>
	<header style="background-color: lightgreen">
		Header > @ViewBag.Title
	</header>
	<div id="#body">
		@RenderBody()
	</div>
	<!--Footer-->
	<div id="#sectionAds">
		@RenderSection("ads", required: false)
	</div>
	<footer style="background-color: lightgreen">
		Footer
	</footer>
	@RenderSection("scripts", required: false)
</body>
</html>